<ion-header>
  <ion-toolbarb color="primary">
    
    <ion-title>qrcode</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding> 
<button ion-button (click)="scan()">scan Barcode</button>
</ion-content>
