

ion-list{
    background: transparent;
}

ion-item{
    --background: transparent;
}

.top-image{
    position: relative;
    width: 100px;
    height: 100px;
    margin: 20px auto;
    border: 2px solid white;
    border-radius: 50%;
    span.material-icons{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 30px;
    }

}