<ion-content color="primary">
  <ion-list id="inbox-list">
    
      <div class="top-image">
        <span *ngIf="logo_image == ''; else other_content" class="material-icons">
          add_a_photo
        </span>
        <ng-template #other_content>
          <ion-img src="{{logo_image}}"></ion-img>
        </ng-template>
      </div>
    
    <ion-menu-toggle auto-hide="false" *ngFor="let p of collectionArray; let i = index">
      <ion-item color="primary" lines="none">
        <ion-avatar>
          <span class="material-icons">
            {{p.icon}}
          </span>
        </ion-avatar>
        
        <ion-label>{{ p.Label }}</ion-label>
      </ion-item>
    </ion-menu-toggle>
    <ion-menu-toggle auto-hide="false">
      <ion-item color="primary" lines="none" (click)="logout()">
        <ion-avatar>
          <span class="material-icons">
            logout
          </span>
        </ion-avatar>
        
        <ion-label>Logout</ion-label>
      </ion-item>
    </ion-menu-toggle>
  </ion-list>
</ion-content>