.bg-image{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;

}

.logo-image {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    img {
        min-width: 150px;
        max-width: 150px;
    }
}

.login-form{
    margin-bottom: 20vh;
    margin-left: 20px;
    margin-right: 20px;
    ion-list{
        background: transparent;
    }

    ion-item{
        --background: transparent;
        color: #fff;
        border: 1px solid white;
        margin-bottom: 10px;
        border-radius: 50px;
    }
}