<ion-content>
  <img class="bg-image" src="assets/car-bg.png">

  <div class="logo-image">
    <img src="assets/images/logo-white.imageset/logo.png">
  </div>

</ion-content>
<ion-footer>
  <form class="login-form" [formGroup]="aForm">
    <ion-list class="">
      <ion-item lines="none">
        <ion-input type="text" placeholder="username" formControlName="username"></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-input type="password" placeholder="password" formControlName="password"></ion-input>
      </ion-item>
      <ion-button (click)="login()" expand="block" shape="round">
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </ion-button>
    </ion-list>
  </form>
</ion-footer>
