<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu class="sidepanel" contentId="main-content" type="overlay">
      <app-sidemenu class="app-sidemenu"></app-sidemenu>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
