.iconnic-box {
    display: block;
    text-align: center;
    color: var(--ion-color-primary) ;
    
    span.material-icons{
        font-size: 3em;
        border: 2px solid var(--ion-color-primary);
        border-radius: 50%;
        padding: 20px;
    }

    h3{
        font-weight: bold;
        text-transform: uppercase;
        font-size: 1em;
    }

}

