<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      
    </ion-buttons>
    <ion-title>Dashboard</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="scanBarcode()">
        <span class="material-icons">center_focus_strong</span>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let item of collectionArray; let i = index">
        <div class="iconnic-box ion-no-border ion-no-shadow">
          <span class="material-icons">{{item.icon}}</span>
          <h3>{{item.Label}}</h3>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
